# Dependencies
node_modules/

# Next.js build output
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment variables
.env
.env.*
!.env.example

# OS / editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/

# TypeScript
*.tsbuildinfo

# Prisma
prisma/dev.db
prisma/dev.db-journal

test-*.txt
test-*.md

testing_audits/
